.scrollTop{
    .controls-container{
        .controls-background{
            background: #000;
            opacity: 1;
        }
    }
}
.controls-container{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    width: calc(100% - 15px);
    height: 54px;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .controls-background{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
        transition: opacity .1s linear;
        content: "";
        background-clip: padding-box;
        background-color: transparent;
        opacity: 0;
        animation: none;
        .controls-header-image{
            filter: blur(10px);
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background-image: url(/img/tumblr.jpg);
        }
    }

    .controls-left {
        z-index: 99;
        .t-logo-container {
            flex-grow: 1;
            .t-logo{
                display: block;
                padding: 0;
                outline: none;
                .logo-t{
                    width: 18px;
                    height: 32px;
                    margin: 5px 16px 7px;
                    display: block;
                    .logotype {
                        fill: #fff;
                    }
                }
                .logo-tumblr{
                    display: none;
                }
            }
        }
    }
    .controls-center{
        flex-grow: 1;
        margin-left: -3px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        animation: iframe-controls-center-transition .2s ease-out .2s both;
        .search-field-container{
            position: relative;
            max-width: 540px;
            margin-right: 10px;
            cursor: text;

            .search-field-input{
                display: block;
                width: 100%;
                padding: 10px 10px 10px 40px;
                border: 0;
                border-radius: 3px;
                background-color: hsla(0,0%,100%,.13);
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                line-height: 1;
                box-sizing: border-box;
                &::placeholder{
                    color: #fff;
                }
            } 
            .fa-search{
                position: absolute;
                top: 50%;
                left: 10px;
                width: 20px;
                margin-top: -15px;
                color: #fff;
                font-size: 18px;
                line-height: 29px;
                text-align: center;
                pointer-events: none;
            }
        }
    }

    .controls-right {
        padding: 3px 10px 3px 3px;
        animation: iframe-controls-right-transition .2s ease-out .2s both;

        .buttons-container{
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: end;
            justify-content: flex-end;

            .tx-icon-button{
                display: inline-block;
                user-select: none;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 2px;
                font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.4;
                text-decoration: none;
                position: relative;
                margin-right: 0;
                margin-left: 5px;
                padding: 5px;
                border: 0;
                border-color: transparent;
                background-color: transparent;
                color: #fff;

                &::before{
                    display: block;
                    width: 24px;
                    font-size: 24px;
                    line-height: 24px;
                    text-align: center;
                    vertical-align: middle;
                }

                .button-label {
                    display: none;
                }
            }
          
            .tx-button{
                display: inline-block;
                user-select: none;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 2px;
                font-family: "Helvetica Neue", "HelveticaNeue",Helvetica,Arial,sans-serif;
                font-weight: 700;
                text-decoration: none;
                border: 1px solid #9da6af;
                position: relative;
                margin-right: 0;
                margin-left: 10px;
                padding: 6px 12px;
                border-width: 2px;
                font-size: 14px;
                line-height: 18px;
                background-color: #fff;
                color: #444;
                border-color: #fff;
            }
        }
    }

    &.controls-container-background{
        .controls-background{
            opacity: 1;
            background-color: #525252e3;
        }
    }
}