.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.color-picker{
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
.color-active{
  border: 2px solid #282c34;
}
.content{
  border:2px solid;
  padding:10px
}